<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
  
    <link rel="shortcut icon" href="/favicon.png" />

    <title>農學地圖 ➭ 上下游互助</title>

  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--    
   <meta property="fb:admins" content="100000207390400" />
   <meta property="fb:app_id" content="697252030337861" />  -->

    <meta property="og:site_name" content="農學互助支持網" />
    <meta property="og:description" content="農學地圖 ➭ 上下游互助" />
    <meta property="og:title" content="農學地圖 ➭ 上下游互助" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://g0v.github.io/farmer/index.html" />
    <meta property="og:image" content="http://g0v.github.io/farmer/img/main.jpg" />



  <link rel="stylesheet" href="module/src/bootstrap.css" />
  <link rel="stylesheet" href="module/src/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="module/src/bootstrap-select.min.css" />   
  <link rel="stylesheet" href="module/shackhand-0.1.3.css" />


</head>

<body ng-controller="SKH-Ctrl">

  <!-- Facebook API  -->
<!--  <div id="fb-root"></div> -->


  <!-- Navbar -->

<div class="navbar navbar-default navbar-fixed-top noPhone" role="navigation">

    <div class="navbar-header pull-left noPhone">
              <div class="navbar-brand noPhone">
                  <h3 class= "h3"><a href = "https://hackpad.com/1SMZsYTVlq3">農學地圖 ☯ 上下游互助</a>
                  </h3>
              </div>
    </div> 

    <div class="navbar-header pull-right noPhone">

        <skh-index indexurl = "https://mapindex.firebaseio.com/support/"></skh-index>

     </div>

</div>

  <!-- Navbar Bottom -->

<div class="navbar navbar-inverse navbar-fixed-bottom noPhone" role="navigation" >

  <div class="container-fluid">
        
      <div class="navbar-header pull-left">
            <div class = "navbar-left">
              <a href = "http://g0v.tw" target = "_blank">
                <img src = "http://g0v.tw/imgs/g0v-horizontal-transparent-darkbackground-m.png"/>
              </a>
            </div>
      </div> 

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class = "active"><a href = "https://hackpad.com/1SMZsYTVlq3" target = "_blank">一起Key In資料</a></li>
            <li><a href = "https://ethercalc.org/farmer" target = "_blank">友善農夫</a></li>
            <li><a href = "https://ethercalc.org/farmerMarket" target = "_blank">農夫市集</a></li>
            <li><a href = "https://ethercalc.org/farmerHandle" target = "_blank">友善加工</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">            
            <li><a href="https://www.facebook.com/BuyDirectlyFromFarmers/app_208195102528120" target = "_blank">直接跟農夫買(農友)</a>
            <li><a href="https://www.facebook.com/BuyDirectlyFromFarmers/app_195646697137509" target = "_blank">直接跟農夫買(市集)</a>
            <li><a href="http://www.meshlet.com/#!jwjcheng/" target = "_blank">農學地圖(文吉版)</a>
            <li><a href="http://g0v.github.io/agriculture/" target = "_blank">超農域</a></li>
          </ul>
        </div>
     </div>
</div>

<div>
  <div class="container main-container">
      
        <div class="row">
     <!--         <button class="btn btn-info" ng-click="goFullscreen()" style="float:left">全螢幕</button> -->
    <!--      <skh-eaglemap></skh-eaglemap> -->

              <skh-frame></skh-frame>
              <skh-localmap></skh-localmap>
        </div>

       </div>

      </div>

  </div>


</body>
</html>


    <script src="module/src/jquery-1.10.2.js"></script>
    <script src="module/src/angular.min.js"></script>
    <script src="module/src/angular-route.min.js"></script>
    <script src="module/src/angular-fullscreen.js"></script>

    <script src="module/src/leaflet-0.7.1.js"></script>
    <script src="module/src/angular-leaflet-directive.js"></script>
    <script src="module/src/leaflet.markercluster.js"></script>

    <link rel="stylesheet" href="module/src/leaflet.css" />    
    <link rel="stylesheet" href="module/src/leaflet.ie.css" /> 

    <link rel="stylesheet" href="module/src/leaflet.label.css" />    
    <script src="module/src/leaflet.label.js"></script>


<script src='module/src/firebase.js'></script>
<script src='module/src/angularfire.min.js'></script>
<script src='module/src/firebase-simple-login.js'></script>
<script src="module/src/angular-easyfb.min.js"></script>

<script src='module/shackhand-0.1.3.js'></script>



 
    <script>     

     function toLabel (hand, i, Icon, year, whichLable) {
        if (!whichLable) return hand.name;

        var label = " ";
        
        var simpleList = ['freetime','busytime','learner_type','learner_habit','skill','crop','connect_me','plant','share','ask'];

        for (var i = 0; i < simpleList.length; i++) {
          var k = simpleList[i];
          if (whichLable == k) label += ((SKH.has(hand[k]) && hand[k]) || "");
        };

        if (whichLable == 'age') label += (SKH.has(hand.learner_birth) && SKH.toAge(hand.learner_birth)+'歲' || '');
                     
        if (!label) label = ' ';   
        return label;

     }

     

     var toFlag = function(hand, i, Icon, from) {
          return '<div class="flag">'
                        + ((hand.id && '<a href = "http://www.facebook.com/'+hand.id+'" target = "_blank"> <img id = "fb" src="'+ Icon +'" />' ) || '')

                        +((!hand.username && hand.id && '<a href = "https://www.facebook.com/profile.php?id='+hand.id+'" target = "_blank"><img id = "fb" src="'+ Icon +'" />' ) || '')

                        +'<strong>第'+ (i+1) +'位關心農業的朋友'
                        +((from && from + '推薦的朋友') || '')
                        +'：'+ hand.name+'</strong></a><br />'

                        +((from && '大約') || '')
                        +(SKH.has(hand.learner_birth) && SKH.toAge(hand.learner_birth)+'歲的' || '')
                        +hand.learner_role
                        +((SKH.has(hand.learner_type) && '('+hand.learner_type+')') || '')
                  

                        +'<br>&nbsp;&nbsp;&nbsp;&nbsp;住在&nbsp;&nbsp;'+
                        '<a href = "https://maps.google.com.tw/maps?hl=zh-TW&q='
                        +hand.address+'" target = "_blank">'+hand.address+'</a>&nbsp;&nbsp;附近<hr>'

                        +((hand.site && '<b>個人網站: </b><a href = "'+SKH.toHref(hand.site)+'" target = "_blank">'
                          + '<img title = "' + hand.site
                              +'"src = "http://www.google.com/s2/favicons?domain=' + hand.site +'">'
                          + '</a>') || "")
                          
                        +((hand.site2 && '<b>社群網站: </b><a href = "'+SKH.toHref(hand.site2)+'" target = "_blank">'
                          + '<img title = "' + hand.site2 
                              + '" src = "http://www.google.com/s2/favicons?domain=' + hand.site2 +'">'
                          + '</a>') || "")
                        
                        +'<b>比較有空的時段：</b>'+( hand.freetime || "")+'<br />'
                        +'<b>較需人手的時段：</b>'+( hand.buzytime || "")+'<br />'
                        +'<b>聯絡方式：</b>'+( hand.connect_me || "")+'<br />'
                        +'<a href="https://www.facebook.com/messages/' + hand.id + 'target="_blank">FB訊息</a><br/>'
                        +'<hr>'
                        +'<b>興趣包含：</b>'+( hand.learner_habit || "")+'<br />'
                        +'<b>休閒作物：</b>'+( hand.plant || "")+'<br />'
                        +'<b>經濟作物：</b>'+( hand.crop || "")+'<br />'
                        +'<b>技術：</b>'+( hand.skill || "")+'<br />'
                        +'<b>可分享：</b>'+( hand.share || "")+'<br />'
                        +'<b>邀請連絡：</b>'+( hand.ask || "")+'<br />'
                        +'<hr>'
                        +'<b>自我介紹：</b>'+( hand.note.replace(/\n/g, '<br>')|| "")+'<br />'
                        +'<hr>'
                        +'</div>';
     }

     SKH.init({
     //   fbApp: '485195848253155',
     //   slogen: '友善土地 ☯ ︎友善農夫 ☯ ︎友善加工 ☯ ︎友善小店 ☯ ︎友善市集 ☯ ︎友善餐飲 ☯ ︎友善生活',
        selectBar: 
'<input autofocus type="search" class="noPhone form-control" placeholder="您在哪兒呢?"ng-model="loc" ng-change = "askGeo(loc)"/>'
+'<input type="search" class="form-control noPhone" placeholder="輸入關鍵字" ng-model="key" ng-change = "clearMarker(); makeMarkers()"/>'

        +'<select class = "form-control"'
                    +'ng-model="whichLable" ng-change = "clearMarker(); makeMarkers()">'
                      +'<option value="">-- 選擇顯示標籤 --</option>'
                //      +'<option value="age">年齡</option>'
                      +'<option value="freetime">時間</option>'
                      +'<option value="busytime">農忙時間</option>'
                      +'<option value="connect_me">聯絡方式</option>'
                      +'<option value="crop">農產品</option>'
                //      +'<option value="plant">休閒作物</option>'
                //      +'<option value="share">分享</option>'
                //      +'<option value="ask">需要</option>'
                  +'</select>',
     //   checkList: [[]],
    //    whiteList: ['site2','connect_me','skill','ask','username','crop','plant'],

/*  */
        headers: [{n: 'connect_me', t:'聯絡方式'},{n: 'crop', t: '農產品'}],
        layers: ['友善農夫','農夫市集','友善加工'],
        //'農學朋友', '友善零售','友善餐飲'],
        types: ['hackmap', 'hackmap', 'hackmap'],
        // 'firebase',
        urls: [
        //'https://shackhand-farmer.firebaseio.com/'
               'https://ethercalc.org/farmer',
               'https://ethercalc.org/farmerMarket',
               'https://ethercalc.org/farmerHandle'],
           //    'https://ethercalc.org/farmerRetail',
           //    'https://ethercalc.org/farmerMeal',],
        logins: [],
        toFlags: [],
        toLabels: [toLabel],
        layerIcons: [
        'images/Coffee_farmer_in_Brazil.jpg',
        'images/Farmer\'s_Market_in_Colombia.jpg',
        'images/Az-Strawberry_jam,_making_by_e-citizen_(moonsun1981).jpg'],

        frames:['frame2.html','frame2.html'],
/*  */

   //     handTitle: '農學朋友',
  //      shackTitle: '農夫市集',
  //      firebase: 'https://shackhand-farmer.firebaseio.com/',
  //      hackmap: "https://ethercalc.org/farmerMarket",
           //https://ethercalc.org/farmerHandle
          // https://ethercalc.org/farmer

  //      toFlag: toFlag,
  //      toLabel: toLabel,


        lang:'zh-tw',
        listKeys: ['name','note','address','share','ask'], //'connect_me',
        listKeyNames: {
          name: '名稱',
          address:  '位於',
          share: '分享',
          ask: '尋找',
          note: '自我介紹'          
        }
     });        

        var app = angular.module('demoapp', ['shackhand']);


    </script>

